@tailwind base;
@tailwind components;
@tailwind utilities;

.comps {
  display: flex;
  gap: 10px;
}


/* Some global css */

html,
body {
  @apply text-textcolor bg-bgcolor text-base font-normal;
  font-family:var(--font-noto);
  
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-grenze);
}

h1 {
  @apply font-normal text-7xl mb-2 mt-1 leading-tight;
  
}
h2 {
  @apply font-normal text-6xl mb-2 mt-1 leading-tight;
}
h3 {
  @apply font-normal text-4xl mb-2 mt-1 leading-tight;
}

.mycontainer {
  @apply container mx-auto max-w-screen-xl px-3;
}

.hcard {
  @apply rounded-lg p-4 text-sm;
}
.hcard span {
  @apply rounded-full p-1 bg-primary w-10 h-10 text-2xl inline-block align-middle text-center text-darktext mr-2 mt-[-5px] font-bold;
  
}

@layer components {
  /* Button component style */
  button:disabled {
    @apply bg-slate-200 hover:bg-slate-200 opacity-40;
  }
  .button.primary {
    @apply bg-primary text-darktext hover:bg-accent hover:text-btnhovertext inline-block;
  }
  .button.secondary {
    @apply bg-violet-100 text-black hover:bg-violet-200 inline-block;
  }
  .button.accent {
    @apply bg-fuchsia-700 text-white hover:bg-fuchsia-600 inline-block;
  }
  .button.small {
    @apply px-4 py-1;
  }
  .button.base {
    @apply px-7 py-2;
  }
  .button.large {
    @apply px-10 py-5;
  }
  .button.rsm {
    @apply rounded;
  }
  .button.rm {
    @apply rounded-xl;
  }
  .button.rf {
    @apply rounded-full;
  }
  .button svg {
    @apply inline-block items-center mr-1;
  }
}