@tailwind base;
@tailwind components;
@tailwind utilities;

.comps {
  display: flex;
  gap: 10px;
}


/* Some global css */

html,
body {
  @apply text-slate-800 bg-white;
}

h1 {
  @apply font-extrabold text-3xl mb-2 mt-1 leading-tight;
}
h2 {
  @apply font-bold text-2xl mb-2 mt-1 leading-tight;
}
h3 {
  @apply font-bold text-xl mb-2 mt-1 leading-tight;
}

@layer components {
  /* Button component style */
  button:disabled {
    @apply bg-slate-200 hover:bg-slate-200 opacity-40;
  }
  .button.primary {
    @apply bg-blue-700 text-white hover:bg-blue-600 inline-block;
  }
  .button.secondary {
    @apply bg-violet-100 text-black hover:bg-violet-200 inline-block;
  }
  .button.accent {
    @apply bg-fuchsia-700 text-white hover:bg-fuchsia-600 inline-block;
  }
  .button.small {
    @apply px-4 py-1;
  }
  .button.base {
    @apply px-7 py-2;
  }
  .button.large {
    @apply px-10 py-3;
  }
  .button.rsm {
    @apply rounded;
  }
  .button.rm {
    @apply rounded-xl;
  }
  .button.rf {
    @apply rounded-full;
  }
  .button svg {
    @apply inline-block items-center mr-1;
  }
}